.card-container {
    background: $color-blue-lightest;
    width: 100%;
    margin-bottom: $spacing-em-x2;
     
    &.is-style-white {
        background: $color-white-primary;
    }
    .card-wrapper { 
        @include section-padding-top-bottom;
        padding-left: px-to-rem( 150 );

        @include mq( $until:medium ){
            padding-left: px-to-em( 15 );
        }

        @include mq( $from:medium, $until:content-large ){
            padding-left: px-to-em( 24 );
        }

        .card-titles-container {
            width: px-to-rem( 754 );
            margin-right: 0;
            text-align: left;

            @include mq( $until:medium ){
              width: px-to-rem( 345 );
            }

            @include mq( $from:medium, $until:content-large ){
               width: px-to-rem( 560 );
            }
            .card-container-title {
                @include heading-two;
                color: $color-blue-dark;
                margin-bottom: $spacing-em-x2;
            }

            .card-container-paragraph {
                @include default-text;
                color: $color-grey;
                margin-bottom: $spacing-em-x2;
            }
        }

        .card-cards-container {
            .slide {
                
                .slick-next {
                    width: px-to-rem( 51 );
                    height: px-to-rem( 51 );
                    border-radius: 100%;
                    background-color: $color-blue-primary;
                    background-image: url(../assets/forward.svg);
                    background-repeat: no-repeat;
                    background-position-x: center;
                    background-position-y: center;
                    transition: all .3s;
                    cursor: pointer;
                    border: none;
                    top: px-to-rem( -65 );
                    position: absolute;
                    right: px-to-rem( 150 );

                    @include mq( $until:medium ) {

                        display: none !important;
                    }

                    &:hover {
                        background-color: $color-blue-darkest;
                    }

                    &:before {
                        display: none;
                    }

                    &.slick-disabled {
                        opacity: 0.4;
                        cursor: not-allowed;

                        &:hover {
                            background-color: $color-blue-primary;
                            opacity: 0.4;
                        }
                    }
                }

                .slick-prev {
                    width: px-to-rem( 51 );
                    height: px-to-rem( 51 );
                    border-radius: 100%;
                    background-color: $color-blue-primary;
                    background-image: url(../assets/backward.svg);
                    background-repeat: no-repeat;
                    background-position-x: center;
                    background-position-y: center;
                    transition: all .3s;
                    cursor: pointer;
                    border: none;
                    top: px-to-rem( -65 );
                    position: absolute;
                    right: px-to-rem( 217 );
                    left: unset;

                    @include mq( $until:medium ) {

                        display: none !important;
                    }

                    &:hover {
                        background-color: $color-blue-darkest;
                    }

                    &:before {
                        display: none;
                    }

                    &.slick-disabled {
                        opacity: 0.4;
                        cursor: not-allowed;

                        &:hover {
                            background-color: $color-blue-primary;
                            opacity: 0.4;
                        }

                    }
                }

                .slick-list {
                    padding-left: px-to-rem( 4 );
                    padding-bottom: px-to-rem( 24 );
                    padding-top: px-to-rem( 12 );
                }
            }
        }  
    }
}