.accordion {
  cursor: pointer;
  padding: $spacing-em-x2 0;
  width: px-to-rem( 750 );
  text-align: left;
  outline: none;
  border-bottom: px-to-rem( 1 ) solid $color-grey-light;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: $color-white-primary;

  @include mq( $until:medium ) {
    width: px-to-rem( 305 );
  }

  @include mq( $from:medium, $until:content-large ){
    width: px-to-rem( 574 );
  }


  h4{
    @include heading-four;
    color: $color-grey;
    margin-bottom: 0;
    width: px-to-rem( 720 );
    background-image: url( "../src/images/plus-blue.svg" );
    background-position: center right;
    background-repeat: no-repeat;
    padding: px-to-rem( 19 ) px-to-rem( 24 ) px-to-rem( 19 ) 0;

    @include mq( $until:medium ) {
      width: px-to-rem( 305 );
    }

    @include mq( $from:medium, $until:content-large ){
      width: px-to-rem( 574 );
    }
  
    &.tab-active {
      color: $color-blue-primary;
      background-image: url( "../src/images/minus-blue.svg" );
      background-position: center right;
      background-repeat: no-repeat;
      padding: px-to-rem( 19 ) px-to-rem( 44 ) px-to-rem( 19 ) 0;
    }
  }
}

.tab-active {
  background: $color-white-primary;
  border-bottom: none;
}

.panel {
  padding: $spacing-em-x2 0;
  background-color: $color-white-primary;
  display: none;
  overflow: hidden;
  border-bottom: px-to-em( 1 ) solid $color-grey-light;
  width: px-to-rem( 725 );

  @include mq( $until:medium ) {
    width: px-to-rem( 305 );
  }

  @include mq( $from:medium, $until:content-large ){
    width: px-to-rem( 547 );
  }

  p {
    width: px-to-rem( 638 );
    @include default-text;

    @include mq( $until:medium ) {
      width: px-to-rem( 273 );
    }

    @include mq( $from:medium, $until:content-large ){
      width: px-to-rem( 507 );
    }
  }
}