/**
 * Style for Buttons and CTA.
 *
 * @package Manuel\Theme.
*/


/* Button and Cta */

.primary-dark-button {
    min-width: 180px;
    height: 51px;
    align-items: center;
    padding: 12px 30px 12px 30px;
    border-radius: 50px;
    background:$color-mc-blue;
    border-style: none;
    border-color: transparent;

    a {
        color: $color-mc-white;
        font-family: $font-family-mc-regular;
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-mc-lg-base;
        line-height: $line-height-display-big;
        text-decoration: none;
    }

    &:hover {
        text-decoration: underline;
        background:$color-mc-blue-darkest;
    }
    &:after {
        content: "";
        background-image: url('../src/images/white-arrow-right@2x.png')
    }
}

.primary-white-button {
    min-width: 180px;
    height: 51px;
    align-items: center;
    padding: 12px 30px 12px 30px;
    border-radius: 50px;
    background:$color-mc-white;
    border-style: none;
    border-color: transparent;

    a {
        color: $color-mc-blue;
        font-family: $font-family-mc-regular;
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-mc-lg-base;
        line-height: $line-height-display-big;
        text-decoration: none;
    }

    &:hover {
        text-decoration: underline;
        background:$color-mc-blue-darkest;
    }

    &:after {
        content: "";
        background-image: url('../src/images/blu-arrow-right@2x.png')
    }
}