/**
 * Style for Card link Block.
 *
 * @package Manuel\Theme.
*/

.card-link-image {
    display: flex;
    min-width: 360px;
    height: 96px;
    background: $color-mc-white;
    box-shadow: $box-shadow-mc-blu2;
    border-radius: 16px;

    .card-link-img-container {
        width: 96px;
        object-fit: contain;
    }
    .text-only-blue-cta {
        position: relative;
        top:20px;
        margin-left: 12px;

        &:after {
            margin-left: 25px;
        }
    } 
}