/**
 * Import the official SC font.
 */

@font-face {
	font-family: "SC Prosper Sans Thin";
	src: url( "../src/fonts/SCProsperSans-Thin.eot" );
	src:
		url( "../src/fonts/SCProsperSans-Thin.eot?#iefix" ) format( "embedded-opentype" ),
		url( "../src/fonts/SCProsperSans-Thin.woff" ) format( "woff" ),
		url( "../src/fonts/SCProsperSans-Thin.ttf" ) format( "truetype" );
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SC Prosper Sans Light";
	src: url( "../src/fonts/SCProsperSans-Light.eot" );
	src:
		url( "../src/fonts/SCProsperSans-Light.eot?#iefix" ) format( "embedded-opentype" ),
		url( "../src/fonts/SCProsperSans-Light.woff" ) format( "woff" ),
		url( "../src/fonts/SCProsperSans-Light.ttf" ) format( "truetype" );
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SC Prosper Sans Regular";
	src: url( "../fonts/SCProsperSans-Regular.eot" );
	src:
		url( "../src/fonts/SCProsperSans-Regular.eot?#iefix" ) format( "embedded-opentype" ),
		url( "../src/fonts/SCProsperSans-Regular.woff2" ) format( "woff2" ),
		url( "../src/fonts/SCProsperSans-Regular.woff" ) format( "woff" ),
		url( "../src/fonts/SCProsperSans-Regular.ttf" ) format( "truetype" );
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SC Prosper Sans Medium";
	src: url( "../src/fonts/SCProsperSans-Medium.eot" );
	src:
		url( "../src/fonts/SCProsperSans-Medium.eot?#iefix" ) format( "embedded-opentype" ),
		url( "../src/fonts/SCProsperSans-Medium.woff2" ) format( "woff2" ),
		url( "../src/fonts/SCProsperSans-Medium.woff" ) format( "woff" ),
		url( "../src/fonts/SCProsperSans-Medium.ttf" ) format( "truetype" );
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SC Prosper Sans Bold";
	src: url( "../src/fonts/SCProsperSans-Bold.eot" );
	src:
		url( "../src/fonts/SCProsperSans-Bold.eot?#iefix" ) format( "embedded-opentype" ),
		url( "../src/fonts/SCProsperSans-Bold.woff2" ) format( "woff2" ),
		url( "../src/fonts/SCProsperSans-Bold.woff" ) format( "woff" ),
		url( "../src/fonts/SCProsperSans-Bold.ttf" ) format( "truetype" );
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* fallback */
@font-face {
	font-family: 'Material Icons';
	src: url("../src/fonts/MaterialIcons-Regular.eot");
	src: url("../src/fonts/MaterialIcons-Regular.eot?#iefix") format("embedded-opentype"),
	url("../src/fonts/MaterialIcons-Regular.woff2") format("woff2"),
	url("../src/fonts/MaterialIcons-Regular.woff") format("woff"),
	url("../src/fonts/MaterialIcons-Regular.ttf") format("truetype"),
	url("../src/fonts/MaterialIcons-Regular.svg#MaterialIcons-Regular") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Material Icons Round';
	font-style: normal;
	font-weight: 400;
	src: url("../src/fonts/MaterialIcons-Round.woff2") format('woff2'),
	url("../src/fonts/MaterialIcons-Round.otf") format("truetype");
	font-display: block;
}


.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

.stencil-numbers {
	font-feature-settings: 'ss01' on, 'ss02' on;
}