.hero-article-container {
  width: 100%;
  height: 810px;
  @include border-radius;
  padding: 0px 0px $spacing-em-x4;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto $spacing-em-x2;

  @include mq( $until:medium ) {
    height: auto;
    background-image: none !important;
  }

  @include mq( $from:medium, $until:content-large ) {
    height: px-to-em( 425 );
  }

  .hero-article {
    position: relative;
    top: px-to-em(490 );
    left: px-to-em( 126 );
    width: $content-width-large;

    @include mq( $until:medium ) {
      top: px-to-em( 0 );
      left: px-to-em( 0 );
      width: px-to-em( 345 );
      margin: 0 auto;
    }

    @include mq( $from:medium, $until:content-large ) {
      top: px-to-em( 122 );
      left: px-to-em( 32 );
      width: px-to-em( 656 );
    }

    h1 {
      color: $color-grey;
      margin: $spacing-em-x2 0px;
      @include heading-one;

    }

    ul {
      display: flex;
      @include cancel-list-styles;

      .content-chip {

        &::marker {
            content:'';
        }

        &-video, &-podcast, &-webinar {
          &::marker {
              content:'';
          }

          a {
            @include reset-links;

            &:before {
                margin-right: px-to-em( 3 );
                margin-top: px-to-em( 3 );
            }
          }
        }
      }
    }

    .author-box {
      display: flex;
      height: $spacing-em-x6;
      color: $color-white-primary;
      margin-top: $spacing-em-x4;

      img {
        width: $spacing-em-x6;
        height: $spacing-em-x6;
        border-radius: 50%;
        margin-right: $spacing-em-x2;
      }

      .entry-meta {

        a {
          @include reset-links;
          @include body-sm-text;
          color: $color-grey;
        }

        p {
          color: $color-grey;
          @include body-sm-text;
          margin: px-to-em( 2 ) 0px;
        }

        .hero-author {
          margin: 0;
        }
      }
    }

    .image-mobile {
      display: none;

      @include mq( $until:medium ) {
        display: block;
        width: px-to-em( 345 );
        height: px-to-em( 194 );
        border-radius: $border-radius;
        margin-top: $spacing-em-x2;
      }
    }
  }
}