/**
 * Default Colours used throughout the theme.
 *
 * @package Manuel\Theme.
 */


/**
 * Primary Colors
*/

$color-mc-blue: #0473EA;
$color-mc-white: #ffffff;
$color-mc-green: #38D200;
$color-mc-red: #cd292a;

/**
 * Tints
*/

$color-mc-blue-light: #7BB6F5;
$color-mc-blue-lighter: #C3DEFA;
$color-mc-blue-lightest: #E7F1FD;

$color-mc-green-light: #92E773;   
$color-mc-green-lighter: #CDF4BF;
$color-mc-green-lightest: #EBFAE5;

$color-mc-red-light: #DC696A;
$color-mc-red-lightest: #FAEAEA;

/**
 * Shades
*/

$color-mc-blue-dark: #0B56A8;
$color-mc-blue-darker: #0C3A66;
$color-mc-blue-darkest: #061D33;
     
$color-mc-green-dark: #238500;
$color-mc-green-darker: #1B6600;
$color-mc-green-darkest: #0B2900;

$color-mc-red-dark: #80191A;
$color-mc-red-darker: #4D0F10;
$color-mc-red-darkest: #290808;

/**
 * Charts
*/

$color-mc-graph-blue: #0E61CA;
$color-mc-graph-teal: #086788;
$color-mc-graph-aqua: #00D1FF;
$color-mc-graph-green: #99F3EA;
$color-mc-graph-emerald: #00E394;
$color-mc-graph-dark-green: #13A092;
$color-mc-graph-darker-green: #147165;

/**
 * Gradients
*/

$gradient-mc-blue-start: #2c3a88;
$gradient-mc-blue-end: #0061cb;
$gradient-mc-blue: linear-gradient( 90deg, $gradient-blue-start 0%, $gradient-blue-end 100% );
$gradient-mc-dark: linear-gradient( 90deg, rgba( 0, 0, 0, 0.8 ) 0%, rgba( 0, 0, 0, 1 ) 100% );

/**
 * Greys
*/

$color-mc-grey: #525355;
$color-mc-grey-medium: #666666;
$color-mc-grey-light: #E5E5E5;
$color-mc-grey-lightest: #F7F7F7;
$color-mc-black: #212121;

/**
 * Opacity Colors
 */

$color-mc-white-90: rgba( 255, 255, 255, 0.9 );
$color-mc-white-80: rgba( 255, 255, 255, 0.8 );
$color-mc-white-70: rgba( 255, 255, 255, 0.7 );
$color-mc-white-60: rgba( 255, 255, 255, 0.6 );
$color-mc-white-50: rgba( 255, 255, 255, 0.5 );
$color-mc-white-40: rgba( 255, 255, 255, 0.4 );
$color-mc-white-30: rgba( 255, 255, 255, 0.3 );
$color-mc-white-20: rgba( 255, 255, 255, 0.2 );
$color-mc-white-10: rgba( 255, 255, 255, 0.1 );

$color-mc-blue-90: rgba( 6, 29, 51, 0.9 );
$color-mc-blue-80: rgba( 6, 29, 51, 0.8 );
$color-mc-blue-70: rgba( 6, 29, 51, 0.7 );
$color-mc-blue-60: rgba( 6, 29, 51, 0.6 );
$color-mc-blue-50: rgba( 6, 29, 51, 0.5 );
$color-mc-blue-40: rgba( 6, 29, 51, 0.4 );
$color-mc-blue-30: rgba( 6, 29, 51, 0.3 );
$color-mc-blue-20: rgba( 6, 29, 51, 0.2 );
$color-mc-blue-10: rgba( 6, 29, 51, 0.1 );

/**
 * Elevation
 */

$box-shadow-mc-blu1: 0px 4px 8px rgba(4, 115, 234, 0.2);
$box-shadow-mc-blu2: 0px 4px 16px rgba(4, 115, 234, 0.2);
$box-shadow-mc-blu3: 0px 4px 32px rgba(4, 115, 234, 0.2);
$box-shadow-mc-blu4: 0px 4px 64px rgba(4, 115, 234, 0.2);

$box-shadow-mc-blu-dark1: 0px 4px 8px rgba(11, 86, 168, 0.20);
$box-shadow-mc-blu-dark2: 0px 4px 16px rgba(11, 86, 168, 0.20);
$box-shadow-mc-blu-dark3: 0px 4px 32px rgba(11, 86, 168, 0.20);
$box-shadow-mc-blu-dark4: 0px 4px 64px rgba(11, 86, 168, 0.20);

$box-shadow-mc-blu-darker1: 0px 4px 8px rgba(12, 58, 102, 0.20);
$box-shadow-mc-blu-darker2: 0px 4px 16px rgba(12, 58, 102, 0.20);
$box-shadow-mc-blu-darker3: 0px 4px 32px rgba(12, 58, 102, 0.20);
$box-shadow-mc-blu-darker4: 0px 4px 64px rgba(12, 58, 102, 0.20);

$box-shadow-mc-blu-darker1: 0px 4px 8px rgba(12, 58, 102, 0.20);
$box-shadow-mc-blu-darker2: 0px 4px 16px rgba(12, 58, 102, 0.20);
$box-shadow-mc-blu-darker3: 0px 4px 32px rgba(12, 58, 102, 0.20);
$box-shadow-mc-blu-darker4: 0px 4px 64px rgba(12, 58, 102, 0.20);

$box-shadow-mc-blu-darkest1: 0px 4px 8px rgba(6, 29, 51, 0.20);
$box-shadow-mc-blu-darkest2: 0px 4px 16px rgba(6, 29, 51, 0.20);
$box-shadow-mc-blu-darkest3: 0px 4px 32px rgba(6, 29, 51, 0.20);
$box-shadow-mc-blu-darkest4: 0px 4px 64px rgba(6, 29, 51, 0.20);

$box-shadow-mc-grey1: 0px 4px 8px rgba(82, 83, 85, 0.20);
$box-shadow-mc-grey2: 0px 4px 16px rgba(82, 83, 85, 0.20);
$box-shadow-mc-grey3: 0px 4px 32px rgba(82, 83, 85, 0.20);
$box-shadow-mc-grey4: 0px 4px 64px rgba(82, 83, 85, 0.20);

$box-shadow-mc-green1: 0px 4px 8px rgba(56, 210, 0, 0.2);
$box-shadow-mc-green2: 0px 4px 16px rgba(56, 210, 0, 0.2);
$box-shadow-mc-green3: 0px 4px 32px rgba(56, 210, 0, 0.2);
$box-shadow-mc-green4: 0px 4px 64px rgba(56, 210, 0, 0.2);

$box-shadow-mc-red1: 0px 4px 8px rgba(205, 41, 42, 0.2);
$box-shadow-mc-red2: 0px 4px 16px rgba(205, 41, 42, 0.2);
$box-shadow-mc-red3: 0px 4px 32px rgba(205, 41, 42, 0.2);
$box-shadow-mc-red4: 0px 4px 64px rgba(205, 41, 42, 0.2);

$box-shadow-mc-white1: 0px 4px 8px rgba(255, 255, 255, 0.2);
$box-shadow-mc-white2: 0px 4px 16px rgba(255, 255, 255, 0.2);
$box-shadow-mc-white3: 0px 4px 32px rgba(255, 255, 255, 0.2);
$box-shadow-mc-white4: 0px 4px 64px rgba(255, 255, 255, 0.2);

/**
 * Text
 */

$text-mc-dark: $color-mc-grey;
$text-mc-red: $color-mc-red;
$text-mc-dark-alt: $color-mc-blue-dark;
$text-mc-rev: $color-mc-white;
$text-mc-link: $color-mc-blue;
$text-mc-overline-dark: rgba( $color-mc-blue-darkest, 0.7 );
$text-mc-overline-rev: rgba( $color-mc-white, 0.7 );

