.content-in-page-promo-title-container {
    width: $content-width-max-xlg;
    margin: $spacing-em-x2 auto;

    @include mq( $until:medium ) {
      width: px-to-em( 345 );
    }

    @include mq( $from:medium, $until:content-large  ) {
      width: px-to-em( 768 );
    }

    .content-in-page-promo-title {
      @include heading-one;
      color: $color-blue-dark;
      margin-bottom: $spacing-em-x2;
    }

    .content-in-page-promo-paragraph {
      @include default-text;
      color: $color-grey;
      margin-bottom: $spacing-em-x2;
      margin-top: 0;
    }
}

.content-in-page-promo-container {
  width: $content-width-max-xlg;
  height: px-to-em( 783 );
  @include border-radius;
  background-repeat: no-repeat;
  background-size: cover;
  margin: $spacing-em-x2 auto;

  @include mq( $until:medium ) {
    width: px-to-em( 345 );
    height: px-to-em( 524 );
  }

  @include mq( $from:medium, $until:content-large  ) {
    width: px-to-em( 768 );
    height: px-to-em( 405 );
  }

  .content-in-page-promo {
    height: auto;
    width: px-to-em( 555 );
    background-color: $color-white-primary;
    box-shadow: $box-shadow-spread $box-shadow-color-grey;
    @include border-radius;
    position: relative;
    padding: $spacing-em-x3;
    top: px-to-em( 64 );
    left: px-to-em( 64 );

    @include mq( $until:medium ) {
      width: px-to-em( 313 );
      top: px-to-em( 255 );
      left: px-to-em( 15 );
    }

    @include mq( $from:medium, $until:content-large  ) {
      width: px-to-em( 300 );
      top: px-to-em( 32 );
      left: px-to-em( 32 );
    }

    &.top-right {
      left: px-to-em( 724 );
      top: px-to-em( 64 );
      margin-left: 0;

      @include mq( $until:medium ) {
        top: px-to-em( 255  );
        left: px-to-em( 15 );
      }

      @include mq( $from:medium, $until:content-large  ) {
        left: px-to-em( 390 );
        top: px-to-em( 32 );
        margin-left: 0;
      }    
    }

    &.bottom-right {
      left: px-to-em( 724 );
      top: px-to-em( 565 );
      margin-left: 0;

      @include mq( $until:medium ) {
        top: px-to-em( 255 );
        left: px-to-em( 15 );
      }

      @include mq( $from:medium, $until:content-large  ) {
        left: px-to-em( 390 );
        top: px-to-em( 175 );
        margin-left: 0; 
      } 
    }

    &.bottom-left {
      top: px-to-em( 565 );

      @include mq( $until:medium ) {
        top: px-to-em( 255 );
        left: px-to-em( 15 );    
      }

      @include mq( $from:medium, $until:content-large  ) {
        top: px-to-em( 175 );
      } 
    } 

    .content-in-page-promo-title {
      width: px-to-em( 507 );
      @include heading-four;
      margin-bottom: $spacing-em-x2;

      @include mq( $until:medium ) {
        width: px-to-em( 256 );   
      }

      @include mq( $from:medium, $until:content-large  ) {
        width: px-to-em( 234 );
      }
    }

    .content-in-page-promo-paragraph {
      width: px-to-em( 507 );
      @include body-sm-text;
      margin-bottom: $spacing-em-x2;

      @include mq( $until:medium ) {
        width: px-to-em( 256 );   
      }

      @include mq( $from:medium, $until:content-large  ) {
        width: px-to-em( 234 );
      }
    }
  }
}