.primary-button {
    min-width: 180px;
    height: 51px;
    align-items: center;
    padding: 12px 20px 12px 30px;
    border-radius: 50px;
    background:$color-mc-blue;
    border-style: none;
    border-color: transparent;
    color: $color-mc-white;
    font-family: $font-family-mc-regular;
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-mc-lg-base;
    line-height: $line-height-display-big;
    text-decoration: none;
    transition: all .3s;

    &:hover {
        background:$color-mc-blue-darkest;
        color: $color-mc-white;
        text-decoration: underline;

        &:after { 
            color: $color-mc-white;  
        }
    }

    &:after {
        display: inline-block;
        position: relative;
        width: 50px;
        height: 100%;
        text-align: center;
        top: 7px;
        right: 6px;
        background-image: none;
        content: 'chevron_right'; 
        font-weight: 300;
        font-family: 'Material Icons';
        font-size: 1.5rem;
        font-feature-settings: 'liga';
        color: $color-mc-white;
    }

    &.is-style-white {
        min-width: 180px;
        height: 51px;
        align-items: center;
        padding: 12px 20px 12px 30px;
        border-radius: 50px;
        background:$color-mc-white;
        border-style: none;
        border-color: transparent;
        color: $color-mc-blue;
        font-family: $font-family-mc-regular;
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-mc-lg-base;
        line-height: $line-height-display-big;
        text-decoration: none;
        transition: all .3s;

        &:hover {
            background:$color-mc-blue-darkest;
            color: $color-mc-white;
            text-decoration: underline;

            &:after { 
                color: $color-mc-white;  
            }
        }

        &:after {
            display: inline-block;
            position: relative;
            width: 50px;
            height: 100%;
            text-align: center;
            top: 7px;
            right: 6px;
            background-image: none;
            content: 'chevron_right';
            font-weight: 300;
            font-family: 'Material Icons';
            font-size: 1.5rem;
            font-feature-settings: 'liga'; 
            color: $color-mc-blue;  
        }
    }

    &.is-style-blue-no-arrow {
        min-width: 180px;
        height: 51px;
        align-items: center;
        padding: 12px 30px 12px 30px;
        border-radius: 50px;
        background:$color-mc-blue;
        border-style: none;
        border-color: transparent;
        color: $color-mc-white;
        font-family: $font-family-mc-regular;
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-mc-lg-base;
        line-height: $line-height-display-big;
        text-decoration: none;
        transition: all .3s;

        &:hover {
            background:$color-mc-blue-darkest;
            color: $color-mc-white;
            text-decoration: underline;
        }

        &:after {
            display: none;  
        }
    }

    &.is-style-white-no-arrow {
        min-width: 180px;
        height: 51px;
        align-items: center;
        padding: 12px 30px 12px 30px;
        border-radius: 50px;
        background:$color-mc-white;
        border-style: none;
        border-color: transparent;
        color: $color-mc-blue;
        font-family: $font-family-mc-regular;
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-mc-lg-base;
        line-height: $line-height-display-big;
        text-decoration: none;
        transition: all .3s;

        &:hover {
            background:$color-mc-blue-darkest;
            color: $color-mc-white;
            text-decoration: underline;
        }

        &:after {
            display: none; 
        }
    }
}

/* Secondary button */

.secondary-button {
    min-width: 180px;
    height: 51px;
    align-items: center;
    padding: 12px 20px 12px 30px;
    border-radius: 50px;
    background: $color-mc-blue-lightest;
    border-style: none;
    border-color: transparent;
    color: $color-mc-blue;
    font-family: $font-family-mc-regular;
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-mc-lg-base;
    line-height: $line-height-display-big;
    text-decoration: none;
    transition: all .3s;

    &:hover {
        background:$color-mc-blue-darkest;
        color: $color-mc-white;
        text-decoration: underline;

        &:after { 
            color: $color-mc-white;  
        }
    }

    &:after {
        display: inline-block;
        position: relative;
        width: 50px;
        height: 100%;
        text-align: center;
        top: 7px;
        right: 6px;
        background-image: none;
        content: 'chevron_right'; 
        font-weight: 300;
        font-family: 'Material Icons';
        font-size: 1.5rem;
        font-feature-settings: 'liga';
        color: $color-mc-white;
    }

    &.is-style-white-text-only {
        min-width: 180px;
        height: 51px;
        align-items: center;
        padding: 12px 20px 12px 30px;
        border-radius: 50px;
        background: transparent;
        border-style: none;
        border-color: transparent;
        color: $color-mc-white;
        font-family: $font-family-mc-regular;
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-mc-lg-base;
        line-height: $line-height-display-big;
        text-decoration: none;
        transition: all .3s;

        &:hover {
            background:$color-mc-blue-darkest;
            color: $color-mc-white;
            text-decoration: underline;

            &:after { 
                color: $color-mc-white;  
            }
        }

        &:after {
            display: inline-block;
            position: relative;
            width: 50px;
            height: 100%;
            text-align: center;
            top: 7px;
            right: 6px;
            background-image: none;
            content: 'chevron_right';
            font-weight: 300;
            font-family: 'Material Icons';
            font-size: 1.5rem;
            font-feature-settings: 'liga'; 
            color: $color-mc-white;  
        }
    }

    &.is-style-light-blue-no-arrow {
        min-width: 180px;
        height: 51px;
        align-items: center;
        padding: 12px 30px 12px 30px;
        border-radius: 50px;
        background: $color-mc-blue-lightest;
        border-style: none;
        border-color: transparent;
        color: $color-mc-blue;
        font-family: $font-family-mc-regular;
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-mc-lg-base;
        line-height: $line-height-display-big;
        text-decoration: none;
        transition: all .3s;

        &:hover {
            background:$color-mc-blue-darkest;
            color: $color-mc-white;
            text-decoration: underline;
        }

        &:after {
            display: none;  
        }
    }

    &.is-style-white-text-only-no-arrow {
        min-width: 180px;
        height: 51px;
        align-items: center;
        padding: 12px 30px 12px 30px;
        border-radius: 50px;
        background: transparent;
        border-style: none;
        border-color: transparent;
        color: $color-mc-white;
        font-family: $font-family-mc-regular;
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-mc-lg-base;
        line-height: $line-height-display-big;
        text-decoration: none;
        transition: all .3s;

        &:hover {
            background:$color-mc-blue-darkest;
            color: $color-mc-white;
            text-decoration: underline;
        }

        &:after {
            display: none; 
        }
    }
}

/* Text Only button */

.text-only-button {
    min-width: 180px;
    height: 51px;
    align-items: center;
    border-radius: 50px;
    background: transparent;
    border-style: none;
    border-color: transparent;
    transition: all .3s;
    color: $color-mc-blue;
    font-family: $font-family-mc-regular;
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-mc-lg-base;
    line-height: $line-height-display-big;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: $color-mc-white;

        &:after {
            color: $color-mc-white; 
        }
    }

    a {
        color: $color-mc-blue;
        font-family: $font-family-mc-regular;
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-mc-lg-base;
        line-height: $line-height-display-big;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &:after {
        display: inline-block;
        position: relative;
        width: 50px;
        height: 100%;
        text-align: center;
        top: 7px;
        right: 6px;
        background-image: none;
        content: 'chevron_right'; 
        font-weight: 300;
        font-family: 'Material Icons';
        font-size: 1.5rem;
        font-feature-settings: 'liga';
        color: $color-mc-blue;
    }

    &.is-style-white-only-text {
        min-width: 180px;
        height: 51px;
        align-items: center;
        border-radius: 50px;
        background: transparent;
        border-style: none;
        border-color: transparent;
        color: $color-mc-white;
        font-family: $font-family-mc-regular;
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-mc-lg-base;
        line-height: $line-height-display-big;
        text-decoration: none;
        transition: all .3s;

        &:hover {
            text-decoration: underline;
        }

        &:after {
            display: inline-block;
            position: relative;
            width: 50px;
            height: 100%;
            text-align: center;
            top: 7px;
            right: 6px;
            background-image: none;
            content: 'chevron_right';
            font-weight: 300;
            font-family: 'Material Icons';
            font-size: 1.5rem;
            font-feature-settings: 'liga'; 
            color: $color-mc-white;  
        }
    }

    &.is-style-blue-only-text-no-arrow {
        min-width: 180px;
        height: 51px;
        align-items: center;
        border-radius: 50px;
        background: tranparent;
        border-style: none;
        border-color: transparent;
        color: $color-mc-blue;
        font-family: $font-family-mc-regular;
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-mc-lg-base;
        line-height: $line-height-display-big;
        text-decoration: none;
        transition: all .3s;

        &:hover {
            text-decoration: underline;
        }

        &:after {
            display: none;
        }
    }

    &.is-style-blue-only-text-download {
        min-width: 180px;
        height: 51px;
        align-items: center;
        border-radius: 50px;
        background: transparent;
        border-style: none;
        border-color: transparent;
        color: $color-mc-blue;
        font-family: $font-family-mc-regular;
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-mc-lg-base;
        line-height: $line-height-display-big;
        text-decoration: none;
        transition: all .3s;

        &:hover {
            text-decoration: underline;

            &:after {
                background-image: url(../src/images/download-white.svg);
                content: '' ;
                background-repeat: no-repeat;
                background-size: 18px; 
                display: inline-block;
                position: relative;
                width: 50px;
                height: 18px;
                top: 4px;
                right: -5px;
            }
        }

        &:after {
            background-image: url(../src/images/download.svg);
            content: '' ;
            background-repeat: no-repeat;
            background-size: 18px; 
            display: inline-block;
            position: relative;
            width: 50px;
            height: 18px;
            top: 4px;
            right: -5px;
        }
    }

    &.is-style-blue-only-text-play {
        min-width: 180px;
        height: 51px;
        align-items: center;
        border-radius: 50px;
        background: transparent;
        border-style: none;
        border-color: transparent;
        color: $color-mc-blue;
        font-family: $font-family-mc-regular;
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-mc-lg-base;
        line-height: $line-height-display-big;
        text-decoration: none;
        transition: all .3s;

        &:hover {
            text-decoration: underline;

            &:after {
                background-image: url(../src/images/play-circle-fill-white.svg);
                content: '' ;
                background-repeat: no-repeat;
                background-size: 18px; 
                display: inline-block;
                position: relative;
                width: 50px;
                height: 18px;
                top: 4px;
                right: -5px;
            }
        }

        &:after {
            background-image: url(../src/images/play-circle-fill.svg);
            content: '' ;
            background-repeat: no-repeat;
            background-size: 18px; 
            display: inline-block;
            position: relative;
            width: 50px;
            height: 18px;
            top: 4px;
            right: -5px;
        }
    }

    &.is-style-blue-only-text-external-link {
        min-width: 180px;
        height: 51px;
        align-items: center;
        border-radius: 50px;
        background: transparent;
        border-style: none;
        border-color: transparent;
        color: $color-mc-blue;
        font-family: $font-family-mc-regular;
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-mc-lg-base;
        line-height: $line-height-display-big;
        text-decoration: none;
        transition: all .3s;

        &:hover {
            text-decoration: underline;

            &:after {
                background-image: url(../src/images/external-link-white.svg);
                content: '' ;
                background-repeat: no-repeat;
                background-size: 18px; 
                display: inline-block;
                position: relative;
                width: 50px;
                height: 18px;
                top: 4px;
                right: -5px;
            }
        }

        &:after {
            background-image: url(../src/images/external-link.svg);
            content: '' ;
            background-repeat: no-repeat;
            background-size: 18px; 
            display: inline-block;
            position: relative;
            width: 50px;
            height: 18px;
            top: 4px;
            right: -5px;
        }
    }

    &.is-style-white-no-arrow {
        min-width: 180px;
        height: 51px;
        align-items: center;
        border-radius: 50px;
        background: transparent;
        border-style: none;
        border-color: transparent;
        color: $color-mc-white;
        font-family: $font-family-mc-regular;
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-mc-lg-base;
        line-height: $line-height-display-big;
        text-decoration: none;
        transition: all .3s;

        &:hover {
            text-decoration: underline;
        }

        &:after {
            display: none;
        }
    }
}