.card-container {
    background: $color-mc-blue-lightest;
    width:100%;
    padding: 96px 0 96px 150px;
    
    &.is-style-white {
        background: $color-mc-white;
    }
    .card-wrapper { 
        margin: 20px auto;
        width: 1440px;

        .card-titles-container {
            width: 754px;
            margin-right: 0;
            display: inline-block;

            .card-container-title {
                font-family: $font-family-mc-regular;
                font-style: normal;
                font-weight: normal;
                font-size: $font-size-mc-lg-h2;
                line-height: $line-height-mc-h1;
                color: $color-mc-blue-dark;
                margin: 0;
            }

            .card-container-paragraph {
                font-family: $font-family-mc-regular;
                font-style: normal;
                font-weight: normal;
                font-size: $font-size-mc-lg-base;
                line-height: $line-height-mc-body;
                color: $color-mc-grey;
                margin: 16px 0px;
            }
        }

        .card-cards-container {
            .slide {
                display: flex;
                
                .slick-next {
                    width: 51px;
                    height: 51px;
                    border-radius: 100%;
                    background-color: $color-mc-blue;
                    background-image: url(../src/images/forward.svg);
                    background-repeat: no-repeat;
                    background-position-x: center;
                    background-position-y: center;
                    transition: all .3s;
                    cursor: pointer;
                    border: none;
                    position: absolute;
                    top: -48px;
                    right: 47px;

                    &:hover {
                        background-color: $color-mc-blue-darkest;
                    }

                    &:before {
                        display: none;
                    }

                    &.slick-disabled {
                        opacity: 0.4;
                        cursor: not-allowed;

                        &:hover {
                            background-color: $color-mc-blue;
                            opacity: 0.4;
                        }
                    }
                }

                .slick-prev {
                    width: 51px;
                    height: 51px;
                    border-radius: 100%;
                    background-color: $color-mc-blue;
                    background-image: url(../src/images/backward.svg);
                    background-repeat: no-repeat;
                    background-position-x: center;
                    background-position-y: center;
                    transition: all .3s;
                    cursor: pointer;
                    border: none;
                    position: absolute;
                    top: -48px;
                    left: 1270px;

                    &:hover {
                        background-color: $color-mc-blue-darkest;
                    }

                    &:before {
                        display: none;
                    }

                    &.slick-disabled {
                        opacity: 0.4;
                        cursor: not-allowed;

                        &:hover {
                            background-color: $color-mc-blue;
                            opacity: 0.4;
                        }

                    }
                }

                .slick-list {
                    padding-left: 4px;
                }
            }
        }  
    }
}
@media screen and (max-width: 767px) {

    .card-container {
        padding: 48px 0px 48px 0;
        width: 100%;

        .card-titles-container {
            width: 345px;
            text-align: center;

            .card-container-title {
                font-size: 33px;
                line-height: 40px;
            }

            .card-container-paragraph {
                font-size: 16px;
                line-height: 24px;
            }
        }
        #resource-slider {
            .card-cards-container {
                display: block;

                .slide {
                    flex-wrap: wrap;
                }
            } 
        }

        .slider-control {
            display: none;
        } 
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    
    .card-container {
        padding: 64px 24px;
        width: 768px;

        .card-titles-container {
            width: 578px;
            text-align: left;
        }

        #resource-slider {
            margin-top: 64px;
        }
        
        .slider-control {
            display: inline-block;
            float: right;
            position: relative;
            top: 50px;
            right: 0px;
        }  
    }
}