.card-link-images-cards-container {
    display: flex;
    
    .card-link-image-container {
        display: flex;
        width: 360px;
        height: 96px;
        background: $color-mc-white;
        box-shadow: $box-shadow-mc-blu2;
        border-radius: 16px;
        margin-right: 30px;

        .card-link-img-container {
            width: 96px;
            background-size: cover;
            border-radius: 16px 0 0 16px;
        }
        .text-only-blue-cta {
            position: relative;
            top: 30px;
            margin-left: 12px;
            flex: 2;

            &:after {
                float:right;
                position: relative;
                top: 0;
                right: 0;
            }
        }
    } 
}

@media screen and (max-width: 767px) {
    .card-link-images-cards-container {
        display: block;
        
        .card-link-images-container {
            width: 345px;
            height: auto;
            margin: 16px auto;

            .text-only-button {
                top: 1px;
            }

            p {
                margin: 0 0 0 12px;
            }

            &:hover {

                .text-only-button {

                    &.is-style-blue-only-text-download {

                        &:after {
                            top: 1px;
                        }
                    }

                    &.is-style-blue-only-text-play {

                        &:after {
                            top: 1px;
                        }
                    }

                    &.is-style-blue-only-text-external-link {

                        &:after {
                            top: 1px;
                        }
                    }
                }
            }
        } 
    }
}