.single-people-card-container {
		
    width: 310px;
    height: 462px;
    background: #FFFFFF;
    box-shadow: $box-shadow-mc-grey2;
    border-radius: 16px;
    margin-right: 30px;
    padding: 24px;

	img {
		width: 310px;
		height: 310px;
	}

	.single-people-card-main-text  {
		font-family: SC Prosper Sans;
	    font-style: normal;
	    font-weight: 700;
	    font-size: 23px;
	    line-height: 34px;
	    color: #525355;
	    margin-top: 34px;
	    margin-bottom: 8px;
	    width: 314px;
	}

	.single-people-card-paragraph {
    	font-family: SC Prosper Sans;
    	font-style: normal;
    	font-weight: normal;
    	font-size: 18px;
    	line-height: 27px;
    	color: #525355;
    }
}