.single-standard-card-container {
    width: 263px;
    height: auto;
    background: #FFFFFF;
    box-shadow: $box-shadow-mc-grey2;
    border-radius: 16px;
    margin-right: 30px;
    padding-bottom: 24px;

	img {
		width: 263px;
		height: 149px;
		border-radius: 16px 16px 0 0;
	}

	a {
    	text-decoration: none;
    }

	.single-standard-card-main-text {
		font-family: SC Prosper Sans;
	    font-style: normal;
	    font-weight: 500;
	    font-size: 18px;
	    line-height: 36px;
	    color: #525355;
	    margin: 24px;
	    width: 312px;
	} 

	.single-standard-card-paragraph {
    	font-family: SC Prosper Sans;
    	font-style: normal;
    	font-weight: normal;
    	font-size: 18px;
    	line-height: 27px;
    	color: #525355;
    	padding: 0 24px;
    }	

	&.is-style-large {
		
	    width: 555px;
	    height: auto;
	    background: #FFFFFF;
	    box-shadow: $box-shadow-mc-grey2;
	    border-radius: 16px;
	    margin-right: 30px;
	    padding-bottom: 24px;

		img {
			width: 555px;
			height: 312px;
			border-radius: 16px 16px 0 0;
		}

		.single-standard-card-main-text {
			font-family: SC Prosper Sans;
		    font-style: normal;
		    font-weight: 500;
		    font-size: 28px;
		    line-height: 36px;
		    color: #525355;
		    margin: 24px;
		    width: 312px;
		}

		.single-standard-card-paragraph  {
	    	font-family: SC Prosper Sans;
	    	font-style: normal;
	    	font-weight: normal;
	    	font-size: 18px;
	    	line-height: 27px;
	    	color: #525355;
	    	padding: 0 24px;
	    }
	}

	&.is-style-square {
		
	    width: 360px;
	    height: auto;
	    background: #FFFFFF;
	    box-shadow: $box-shadow-mc-grey2;
	    border-radius: 16px;
	    margin-right: 30px;
	    padding-bottom: 24px;

		img {
			width: 360px;
			height: 360px;
			border-radius: 16px 16px 0 0;
		}

		.single-standard-card-main-text {
			font-family: SC Prosper Sans;
		    font-style: normal;
		    font-weight: 500;
		    font-size: 28px;
		    line-height: 36px;
		    color: #525355;
		    margin: 24px;
		    width: 312px;
		}

		.single-standard-card-paragraph {
	    	font-family: SC Prosper Sans;
	    	font-style: normal;
	    	font-weight: normal;
	    	font-size: 18px;
	    	line-height: 27px;
	    	color: #525355;
	    	padding: 0 24px;
	    }
	}

	ul {
		display: flex;
		list-style-type: none;
		padding: 0;
		margin: 0 24px;

		.hero-category {
			padding: 4px 8px;
			height: 26px;
			background: #EBFAE5;
			border-radius: 14px;
			margin-right: 10px;
			min-width: 33px;
			text-align: center;

			a {
				font-family: SC Prosper Sans;
				font-style: normal;
				font-weight: bold;
				font-size: 12px;
				line-height: 24px;
				color: #1B6600;
				text-decoration: none;
			}
		}
	}	
}