.single-featured-card-container {
    width: 555px;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(11, 86, 168, 0.2);
    border-radius: 16px;
    margin-right: 30px;
    padding: 24px;

    &:last-child {
        margin-right:0;
    }

    .single-featured-main-text {
    	font-family: SC Prosper Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 36px;
        color: #525355;
        margin: 8px 0px;
        width: 507px;
    }

    .single-featured-paragraph {
    	font-family: SC Prosper Sans;
    	font-style: normal;
    	font-weight: normal;
    	font-size: 18px;
    	line-height: 27px;
    	color: #525355;
    }

    &:hover {
        background: $color-mc-blue; 
        box-shadow: 0px 32px 64px rgba(11, 86, 168, 0.2);
        transition: all .3s;

        .single-featured-main-text {
            color: $color-mc-white;
            text-decoration: underline;
        }

        .single-featured-paragraph {
            color: $color-mc-white;
        }

        .text-only-button {
            transition: all .3s;
            color: $color-mc-white;
            font-family: $font-family-mc-regular;
            font-style: normal;
            font-weight: 600;
            font-size: $font-size-mc-lg-base;
            line-height: $line-height-display-big;
            text-decoration: underline;

            &:after {
                color: $color-mc-white;
            }

            &.is-style-blue-only-text-download {

                &:after {
                    background-image: url(../src/images/download-white.svg);
                    content: '' ;
                    background-repeat: no-repeat;
                    background-size: 18px; 
                    display: inline-block;
                    position: relative;
                    width: 50px;
                    height: 18px;
                    top: 4px;
                    right: -5px;
                    transition: all .3s;
                }
            }

            &.is-style-blue-only-text-play {

                &:after {
                    background-image: url(../src/images/play-circle-fill-white.svg);
                    content: '' ;
                    background-repeat: no-repeat;
                    background-size: 18px; 
                    display: inline-block;
                    position: relative;
                    width: 50px;
                    height: 18px;
                    top: 4px;
                    right: -5px;
                    transition: all .3s;
                }
            }

            &.is-style-blue-only-text-external-link {

                &:after {
                    background-image: url(../src/images/external-link-white.svg);
                    content: '' ;
                    background-repeat: no-repeat;
                    background-size: 18px; 
                    display: inline-block;
                    position: relative;
                    width: 50px;
                    height: 18px;
                    top: 4px;
                    right: -5px;
                    transition: all .3s;
                }
            }
        }

        a {
            color: $color-mc-white;
            text-decoration: underline;

            &:after {
                color: $color-mc-white;
            }
        }
    }
}


@media screen and (max-width: 767px) {
    
    .single-featured-card-container {
        width: 265px;
        margin: 1em auto;
        padding: 24px;


        .single-featured-main-text {
            font-size: 23px;
            line-height: 30px;
            width: 217px;
        }

        .single-featured-paragraph {
            font-size: 16px;
            line-height: 24px;
        }

        &:hover {

            .text-only-button {
                font-size: 16px;
                line-height: 24px;
            }
        }
    } 
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .single-featured-card-container {
        width: 282px;

        .single-featured-main-text {
            font-size: 23px;
            line-height: 30px;
            width: 234px;
        }

        .single-featured-paragraph {
            font-size: 16px;
            line-height: 24px;
        }

        &:hover {

            .text-only-button {
                font-size: 16px;
                line-height: 24px;
            }
        }
    } 
}