.card-link-image-container {
    display: flex;
    min-width: 360px;
    height: 96px;
    background: $color-mc-white;
    box-shadow: $box-shadow-mc-blu2;
    border-radius: 16px;

    .card-link-img-container {
        width: 96px;
        background-size: cover;
        border-radius: 16px 0 0 16px;
    }
    .text-only-blue-cta {
        position: relative;
        top: 30px;
        margin-left: 12px;

        &:after {
            margin-left: 25px;
        }
    } 
}