.content-in-page-promo-title-container {
    width: 1392px;
    margin: 64px auto;

    .content-in-page-promo-title {
        font-family: $font-family-mc-regular;
        font-style: normal;
        font-weight: normal;
        font-size: $font-size-mc-lg-h2;
        line-height: $line-height-mc-h1;
        color: $color-mc-blue-dark;
        margin: 0;
    }

    .content-in-page-promo-paragraph {
        font-family: $font-family-mc-regular;
        font-style: normal;
        font-weight: normal;
        font-size: $font-size-mc-lg-base;
        line-height: $line-height-mc-body;
        color: $color-mc-grey;
        margin: 16px 0px;
    }
}

.content-in-page-promo-container {
    width: 1392px;
    height: 783px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px auto;

  .content-in-page-promo {
    height: auto;
    width: 555px;
    background-color: #fff;
    box-shadow: $box-shadow-mc-grey2;
    border-radius: 16px;
    position: relative;
    padding: 24px;
    top: 64px;
    left: 64px;

    &.top-right {
      left: 724px;
      top: 64px;
      margin-left: 0;    
    }

    &.bottom-right {
      left: 724px;
      top: 520px;
      margin-left: 0;
    }

    &.bottom-left {
      top: 520px;
    } 

    .content-in-page-promo-title {
      width: 507px;
      font-family: 'SC Prosper Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 36px;
      margin: 8px 0px 16px;
    }

    .content-in-page-promo-paragraph {
      width: 507px;
      font-family: 'SC Prosper Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;
      margin: 8px 0px 16px;
    }
  }
}
 