.single-featured-card-container {
    width: 555px;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(11, 86, 168, 0.2);
    border-radius: 16px;
    margin-right: 30px;
    padding: 24px;


    .single-featured-main-text {
    	font-family: SC Prosper Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 36px;
        color: #525355;
        margin: 8px 0px;
        width: 507px;
    }

    .single-featured-paragraph {
    	font-family: SC Prosper Sans;
    	font-style: normal;
    	font-weight: normal;
    	font-size: 18px;
    	line-height: 27px;
    	color: #525355;
    }

    &:hover {
        background: $color-mc-blue; 
        box-shadow: 0px 32px 64px rgba(11, 86, 168, 0.2);
        transition: all .3s;

        .single-featured-main-text {
            color: $color-mc-white;
            text-decoration: underline;
        }

        .text-only-blue-cta {
            transition: all .3s;
            color: $color-mc-white;
            font-family: $font-family-mc-regular;
            font-style: normal;
            font-weight: 600;
            font-size: $font-size-mc-lg-base;
            line-height: $line-height-display-big;
            text-decoration: underline;

            &:after {
                color: $color-mc-white;
            }
        }
    }
}	