.hero-article-container {
  width: 1440px;
  height: 810px;
  border-radius: 16px;
  padding: 0px 0px 32px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;

  .hero-article {
    position: relative;
    top: 490px;
    left: 126px;
    width: 1140px;

    h1 {
      font-family: 'Helvetica';
      font-style: normal;
      font-weight: normal;
      font-size: 55px;
      line-height: 66px;
      color: #FFFFFF;
      margin: 16px 0px;

    }

    ul {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin: 0;

      .content-chip {

        &::marker {
            content: '';
        }

        &-video, &-podcast {
          &::marker {
              content: '';
          }

          a {
            text-decoration: none;

            &:before {
                margin-right: 3px;
                margin-top: 3px;
            }
          }
        }
      }
    }

    .image-mobile {
      display: none;
    }

    .author-box {
      display: flex;
      height: 48px;
      color: #fff;
      margin-top: 32px;

      img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-right: 16px;
      }

      .entry-meta {

        a {
          text-decoration: none;
          font-family: 'Helvetica';
          font-style: normal;
          font-weight: bold;
          font-size: 15px;
          color: #fff;
        }

        p {
          color: #525355;
          font-family: 'Helvetica';
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height:22px;
          margin: 2px 0px;
        }

        .hero-author {
          margin: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .hero-article-container {
    width: 375px;
    height: auto;
    border-radius: 0;
    padding: 0px 0px 32px;
    background-image: none !important;
    margin: 0 auto;

    .hero-article {
      position: relative;
      top: 0;
      left: 0;
      width: 345px;
      margin: 0 auto;

      h1 {
        font-family: 'SC Prosper Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 48px;
        color: #525355;
        margin: 16px 0px;
        width: 345px;

      }

      ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;

        .content-chip {

          &::marker {
              content: '';
          }

          &-video, &-podcast {
            &::marker {
                content: '';
            }

            a {
              text-decoration: none;

              &:before {
                  margin-right: 3px;
                  margin-top: 3px;
              }
            }
          }
        }
      }

      .image-mobile {
        display: block;
        width: 345px;
        height: 194px;
        border-radius: 8px;
        margin-top: 16px;
      }

      .author-box {
        display: flex;
        height: 48px;
        color: #fff;
        margin-top: 32px;

        img {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          margin-right: 16px;
        }

        .entry-meta {

          p {
            color: #525355;
            font-size: 13px;
            line-height:20px;
          }

          .hero-author {
            margin: 0;
          }
        }
      }
    }
  }
}