/**
 * Styles for the Home Hero component.
 *
 * @package Manuel.
 *
 */

.hero-home-container {

 	padding: 96px 0px 96px 0px;
 	width: 100%;
    margin: 16px 0;
    display: flex;
    background: $gradient-mc-blue;
    justify-content: space-around;

 	.hero-home-title-container {
 		width: 535px;
  		display: inline-block;
		margin-right: 30px;
	    margin-left: 72px;

 		.hero-home-title-intro {
 			font-family: $font-family-mc-medium;
			font-style: normal;
			font-weight: normal;
			font-size: $font-size-mc-lg-base;
			line-height: $line-height-mc-h5;
			color: $color-mc-white-70;
 		}

 		.hero-home-main-title {
 			font-family: $font-family-mc-medium;
			font-style: normal;
			font-weight: normal;
			font-size: $font-size-mc-lg-h1;
			line-height: $line-height-mc-h1;
			margin: 0 0 64px;
			color: $color-mc-white;

			&::before {
				content: "ª";
				display: inline-block;
				margin: 0;
				color: $color-mc-blue;
				position: absolute;
				left: -15px;
			}

			&::after {
				content: "º";
				display: inline-block;
				margin: 0;
				color: $color-mc-green;
			}
 		}
 	}

 	.image-hero-home-container{

 		.square {
 			width: 778px;
 			height: 778px;
 			border-radius: 16px;
	 	}
	 	
	 	.landscape {
	 		width: 778px;
 			height: 434px;
 			border-radius: 16px;	
	 	}
 	}
}

@media screen and (max-width: 767px) {
    .hero-home-container {
    	display: block;
		padding: 48px 0px 48px 0;
    	

	 	.hero-home-title-container {
	 		width: 345px;
		    margin: 0 auto;
		    display: block;
		    top: 0;

	 		.hero-home-title-intro {
	 			font-size: 16px;
				line-height: 24px;
	 		}

	 		.hero-home-main-title {
				font-size: 40px;
				line-height: 48px;

				&::before {
					display: none;
				}

				&::after {
					display: none;
				}
	 		}
	 	}

	 	.image-hero-home-container {
	 		margin: 32px auto;
	 		text-align: center;

	 		.square {
	 			height: 345px;
	 			width: 345px;
	 			border-radius: 8px;
		 	}
		 	
		 	.landscape {
	 			height: 195px;
	 			border-radius: 8px;
	 			width: 345px;
		 	}	
	 	}
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

	.hero-home-container {
		display: flex;
		padding: 48px 0px 48px 0;
		justify-content: space-around;

	    .hero-home-title-container {
	 		width: 251px;
	  		display: inline-block;
			margin-right: 30px;
		    margin-left: 52px;

	 		.hero-home-title-intro {
	 			font-size: 16px;
				line-height: 24px;
	 		}

	 		.hero-home-main-title {
				font-size: 40px;
				line-height: 48px;

				&::before {
					content: "ª";
					display: inline-block;
					margin: 0;
					color: $color-mc-blue;
					position: relative;
					left: 0;
				}

				&::after {
					content: "º";
					display: inline-block;
					margin: 0;
					color: $color-mc-green;
				}
	 		}
	 	}

	 	.image-hero-home-container{

	 		.square {
	 			height: 408px;
	 			border-radius: 16px;
	 			width: 408px;
		 	}
		 	
		 	.landscape {
	 			height: 230px;
	 			border-radius: 16px;
	 			width: 408px;
	 			position: relative;
    			top: 78px;
    			right: 10px;	
		 	}
	 	}
	}
}
