.hero-text-only-container {
  background: $gradient-mc-blue;
  padding-bottom: 96px;

  .hero-text-only-title-container {
    padding: 96px 0px 96px 0px;
    width: 1140px;
    margin: 0 auto;
    position: relative;
    right: 94px;

    .hero-text-only-title-intro {
      font-family: $font-family-mc-regular;
      font-style: normal;
      font-weight: normal;
      font-size: $font-size-mc-lg-base;
      line-height: $line-height-display-big;
      margin: 16px 0px;
      position: relative;
      left: 96px;
      color: $color-mc-white-70;
    }

    .hero-text-only-main-title {
      font-family: $font-family-mc-regular;
      font-style: normal;
      font-weight: normal;
      font-size: $font-size-mc-lg-display-big;
      line-height: $line-height-display-big;
      margin: 0 0 64px;
      position: relative;
      left: 96px;
      color: $color-mc-white;
      width: 945px;

      &::before {
        content: "ª";
        display: inline-block;
        margin: 0;
        color: $color-mc-blue;
        position: absolute;
        left: -15px;
      }

      &::after {
        content: "º";
        display: inline-block;
        margin: 0;
        color: $color-mc-green;
      }
    }

    .hero-text-only-paragraph {
      font-family: $font-family-mc-regular;
      font-style: normal;
      font-weight: normal;
      font-size: $font-size-mc-lg-h4;
      line-height: $line-height-mc-h4;
      margin: 0px auto;
      text-align: left;
      color: $color-mc-white;
      width: 756px;
    }
  }

  &.white {
    background: #fff;

    .hero-text-only-title-container {

      .hero-text-only-title-intro {
        color: #525355;
      }

      .hero-text-only-main-title {
        color: #525355;
      }

      .hero-text-only-paragraph {
        color: #525355;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .hero-text-only-container {
    width: 100%;
    margin: 16px auto;
    
    .hero-text-only-title-container {
      padding: 96px 0px 96px 0px;
      width: 345px;
      margin: 0 auto;
      right: 0;

      .hero-text-only-title-intro {
        font-family: $font-family-mc-regular;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        margin: 16px 0px;
        position: relative;
        left: 0;
        color: $color-mc-white-70;
      }

      .hero-text-only-main-title {
        font-family: $font-family-mc-regular;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 58px;
        margin: 0 0 64px;
        position: relative;
        left: 0;
        color: $color-mc-white;
        width: 345px;

        &::before {
          content: "ª";
          display: none;
          margin: 0;
          color: $color-mc-blue;
          position: absolute;
          left: -15px;
        }

        &::after {
          content: "º";
          display: none;
          margin: 0;
          color: $color-mc-green;
        }
      }

      .hero-text-only-paragraph {
        font-family: $font-family-mc-regular;
        font-style: normal;
        font-weight: normal;
        font-size: 23px;
        line-height: 30px;
        margin: 0px auto;
        text-align: left;
        color: $color-mc-white;
        width: 345px;
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hero-text-only-container {
    
    .hero-text-only-title-container {

      padding: 96px 0px 96px 0px;
      width: 595px;
      margin: 0 auto;
      right: 0;

      .hero-text-only-title-intro {
        font-family: $font-family-mc-regular;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        margin: 16px 0px;
        position: relative;
        left: 0;
        color: $color-mc-white-70;
      }

      .hero-text-only-main-title {
        font-family: $font-family-mc-regular;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 58px;
        margin: 0 0 64px;
        position: relative;
        left: 0;
        color: $color-mc-white;
        width: 595px;

        &::before {
          content: "ª";
          display: inline-block;
          margin: 0;
          color: $color-mc-blue;
          position: absolute;
          left: -15px;
        }

        &::after {
          content: "º";
          display: inline-block;
          margin: 0;
          color: $color-mc-green;
        }
      }

      .hero-text-only-paragraph {
        font-family: $font-family-mc-regular;
        font-style: normal;
        font-weight: normal;
        font-size: 23px;
        line-height: 30px;
        margin: 0px auto;
        text-align: left;
        color: $color-mc-white;
        width:470px;
      }
    }
  }
}