.hero-article-no-image-container{
  align-items: center;
  padding: 96px 0px 32px;
  background: #CDF4BF;
  width: 1440px;
  height: 448px;
  margin: 0 auto 16px;

  .hero-article-no-image {
    position: relative;
    top: 0;
    left: 126px;
    width: 1140px;

    h1 {
      font-family: 'SC Prosper Sans';
      font-style: normal;
      font-weight: normal;
      font-size: 55px;
      line-height: 66px;
      color: #525355;
      margin: 16px 0px;

    }

    ul {
      display: flex;
      list-style-type: none;
      padding: 0; 
      margin: 0;

      .content-chip {

        &::marker {
            content:'';
        }

        &-video, &-podcast {
          &::marker {
              content:'';
          }

          a {
            text-decoration: none;

            &:before {
                margin-right: 3px;
                margin-top: 3px;
            }
          }
        }
      }
    }

    .author-box {
      display: flex;
      height: 48px;
      color: #fff;
      margin-top: 32px;

      img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-right: 16px;
      }

      .entry-meta-no-image {

        a {
          text-decoration: none;
          font-family: 'SC Prosper Sans';
          font-style: normal;
          font-weight: bold;
          font-size: 15px;
          color: #525355;
        }

        p {
          color: #525355;
          font-family: 'SC Prosper Sans';
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height:22px;
          margin: 2px 0px;
        }

        .hero-author {
          margin: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {

  .hero-article-no-image-container {
    width: 100%;
    height: auto;
    border-radius: 0;
    padding: 0px 0px 32px;
    background-image: none !important;
    margin: 0 auto 16px;

    .hero-article-no-image {
      position: relative;
      top: 0;
      left: 0;
      width: 345px;
      margin: 0 auto;

      h1 {
        font-family: 'SC Prosper Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 48px;
        color: #525355;
        margin: 16px 0px;
        width: 345px;

      }

      ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;

        .content-chip {

          &::marker {
              content: '';
          }

          &-video, &-podcast {
            &::marker {
                content: '';
            }

            a {
              text-decoration: none;

              &:before {
                  margin-right: 3px;
                  margin-top: 3px;
              }
            }
          }
        }
      }

      .author-box {
        display: flex;
        height: 48px;
        color: #525355;
        margin-top: 32px;

        img {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          margin-right: 16px;
        }

        .entry-meta {


          p, a {
            color: #525355;
            font-size: 13px;
            line-height:20px;
          }

          .hero-author {
            margin: 0;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

  .hero-article-no-image-container {
    width: 768px;
    margin: 0 auto 16px;

    .hero-article-no-image {
      position: relative;
      top: 0;
      left: 0;
      width: 656px;
      margin: 0 auto;

      h1 {
        font-family: 'SC Prosper Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 48px;
        color: #525355;
        margin: 16px 0px;
        width: 656px;

      }

      ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;

        .content-chip {

          &::marker {
              content: '';
          }

          &-video, &-podcast {
            &::marker {
                content: '';
            }

            a {
              text-decoration: none;

              &:before {
                  margin-right: 3px;
                  margin-top: 3px;
              }
            }
          }
        }
      }
    }
  }
}