.standard-page-hero-container {
  background: $color-mc-grey-lightest;
  border-radius: 16px;

  .standard-page-hero-title-container { 

    padding: 96px 0px 96px 0px;
    max-width: 1440px;
    margin: 0 auto;

    .standard-page-hero-title-intro {
      font-family: $font-family-mc-regular;
      font-style: normal;
      font-weight: normal;
      font-size: $font-size-mc-lg-base;
      line-height: $line-height-display-big;
      margin: 16px auto;
      color: $color-mc-grey;
    }

    .standard-page-hero-main-title {
      font-family: $font-family-mc-regular;
      font-style: normal;
      font-weight: normal;
      font-size: $font-size-mc-lg-display-big;
      line-height: $line-height-display-big;
      margin: 16px auto;
      width: 1264px;
      color: $color-mc-grey;
    }

    .standard-page-hero-paragraph {
      font-family: $font-family-mc-regular;
      font-style: normal;
      font-weight: normal;
      font-size: $font-size-mc-lg-h4;
      line-height: $line-height-mc-h4;
      margin: 0px auto;
      width: 748px;
      color: $color-mc-grey;
    }
  }
}

@media screen and (max-width: 767px) {

  .standard-page-hero-container {

    .standard-page-hero-title-container { 
      padding: 32px 16px;

      .standard-page-hero-title-intro {
        font-size: 16px;
        line-height: 24px;
        margin: 16px auto;
      }

      .standard-page-hero-main-title {
        font-size: 40px;
        line-height: 48px;
        margin: 16px auto;
        width: 313px;
      }

      .standard-page-hero-paragraph {
        font-size: 23px;
        line-height: 30px;
        width: 313px;
      }
    }
  }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {

  .standard-page-hero-container {

    .standard-page-hero-title-container { 
      padding: 48px;

      .standard-page-hero-title-intro {
        font-size: 16px;
        line-height: 24px;
        margin: 16px auto;
      }

      .standard-page-hero-main-title {
        font-size: 40px;
        line-height: 48px;
        margin: 16px auto;
        width: 624px;
      }

      .standard-page-hero-paragraph {
        font-size: 23px;
        line-height: 30px;
        width: 624px;
      }
    }
  }
}
  