.news-hero-container {
    display: flex;
    width: 1440px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;

    .news-hero-main-post-container {
        margin-right: 30px;

        .news-hero-main-post {

            .news-hero-main-thumbnail {

                img {
                    width: 750px;
                    height: 422px;
                    object-fit: cover;
                    border-radius: 16px;
                }
            }

            .news-hero-main-chips {

                ul {
                    display: flex;
                    justify-content: flex-start;
                    padding-left: 0;

                    .content-chip {

                        &::marker {
                            content:'';
                        }

                        &-video, &-podcast {
                            &::marker {
                                content:'';
                            }

                            a {
                                text-decoration: none;

                                &:before {
                                    margin-right: 3px;
                                    margin-top: 3px;
                                }
                            }

                        }
                    }
                }
            }

            .news-hero-main-content {

                .news-hero-main-title {
                    font-family: 'SC Prosper Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 35px;
                    line-height: 45px;
                    text-decoration: none;
                    color: #525355;
                    margin-top: 24px;

                    h3 {
                        margin: 0;
                    }
                }

                .news-hero-main-paragraph {
                    font-family: 'SC Prosper Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 27px;
                    margin-top: 24px;
                }

            }
        }
    }

    .news-hero-latest-post-container {

        .news-hero-latest-post {

            .news-hero-latest-post-thumbnail {

                img {
                    width: 360px;
                    height: 202px;
                    object-fit: cover;
                    border-radius: 16px;
                }
            }

            .news-hero-latest-post-chips {

                ul {
                    display: flex;
                    justify-content: flex-start;
                    padding-left: 0;

                    .content-chip {

                        &::marker {
                            content:'';
                        }

                        &-video, &-podcast {
                            &::marker {
                                content:'';
                            }

                            a {
                                text-decoration: none;

                                &:before {
                                    margin-right: 3px;
                                    margin-top: 3px;
                                }
                            }

                        }
                    }
                }
            }

            .news-hero-latest-posts-content {

                .news-hero-latest-post-title {
                    font-family: 'SC Prosper Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 23px;
                    line-height: 34px;
                    margin-top: 12px;
                    text-decoration: none;
                    color: #525355;
                }

            }
        }
    }
}

@media screen and (max-width: 767px) {
    .news-hero-container {
        display: block;
        width: 375px;
        margin: 0 auto;

        .news-hero-main-post-container {
            margin: 0 auto;
            width: 345px;

            .news-hero-main-post {

                .news-hero-main-thumbnail {

                    img {
                        width: 345px;
                        height: 194px;
                        object-fit: cover;
                        border-radius: 8px;
                    }
                }

                .news-hero-main-chips {

                    ul {
                        display: flex;
                        justify-content: flex-start;
                        padding-left: 0;

                        .content-chip {

                            &::marker {
                                content:'';
                            }

                            &-video, &-podcast {
                                &::marker {
                                    content:'';
                                }

                                a {
                                    text-decoration: none;

                                    &:before {
                                        margin-right: 3px;
                                        margin-top: 3px;
                                    }
                                }

                            }
                        }
                    }
                }

                .news-hero-main-content {

                    .news-hero-main-title {
                        font-size: 28px;
                        line-height: 36px;
                        color: #525355;
                        margin-top: 16px;

                        h3 {
                            margin: 0;
                        }
                    }

                    .news-hero-main-paragraph {
                        font-size: 16px;
                        line-height: 24px;
                        margin-top: 16px;
                    }

                }
            }
        }

        .news-hero-latest-post-container {
            width: 345px;
            margin: 0 auto;

            .news-hero-latest-post {

                .news-hero-latest-post-thumbnail {

                    img {
                        width: 345px;
                        height: 194px;
                        object-fit: cover;
                        border-radius: 8px;
                    }
                }

                .news-hero-latest-post-chips {

                    ul {
                        display: flex;
                        justify-content: flex-start;
                        padding-left: 0;

                        .content-chip {

                            &::marker {
                                content:'';
                            }

                            &-video, &-podcast {
                                &::marker {
                                    content:'';
                                }

                                a {
                                    text-decoration: none;

                                    &:before {
                                        margin-right: 3px;
                                        margin-top: 3px;
                                    }
                                }

                            }
                        }
                    }
                }

                .news-hero-latest-posts-content {

                    .news-hero-latest-post-title {
                        font-size: 19px;
                        line-height: 28px;
                    }

                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .news-hero-container {
        display: block;
        width: 720px;
        margin: 0 auto;
        display: flex;

        .news-hero-main-post-container {
            margin: 0 auto;
            width: 470px;

            .news-hero-main-post {

                .news-hero-main-thumbnail {

                    img {
                        width: 470px;
                        height: 265px;
                        object-fit: cover;
                        border-radius: 8px;
                    }
                }

                .news-hero-main-chips {

                    ul {
                        display: flex;
                        justify-content: flex-start;
                        padding-left: 0;

                        .content-chip {

                            &::marker {
                                content:'';
                            }

                            &-video, &-podcast {
                                &::marker {
                                    content:'';
                                }

                                a {
                                    text-decoration: none;

                                    &:before {
                                        margin-right: 3px;
                                        margin-top: 3px;
                                    }
                                }

                            }
                        }
                    }
                }

                .news-hero-main-content {

                    .news-hero-main-title {
                        font-size: 28px;
                        line-height: 36px;
                        color: #525355;
                        margin-top: 16px;

                        h3 {
                            margin: 0;
                        }
                    }

                    .news-hero-main-paragraph {
                        font-size: 16px;
                        line-height: 24px;
                        margin-top: 16px;
                    }

                }
            }
        }

        .news-hero-latest-post-container {
            width: 220px;
            margin: 0 auto;

            .news-hero-latest-post {

                .news-hero-latest-post-thumbnail {

                    img {
                        width: 220px;
                        height: 123px;
                        object-fit: cover;
                        border-radius: 8px;
                    }
                }

                .news-hero-latest-post-chips {

                    ul {
                        display: flex;
                        justify-content: flex-start;
                        padding-left: 0;

                        .content-chip {

                            &::marker {
                                content:'';
                            }

                            &-video, &-podcast {
                                &::marker {
                                    content:'';
                                }

                                a {
                                    text-decoration: none;

                                    &:before {
                                        margin-right: 3px;
                                        margin-top: 3px;
                                    }
                                }

                            }
                        }
                    }
                }

                .news-hero-latest-posts-content {

                    .news-hero-latest-post-title {
                        font-size: 19px;
                        line-height: 28px;
                    }

                }
            }
        }
    }
}