.timeline-titles-container {
  height: 30vw;
  z-index:1;
  padding: 96px 150px;
  background: linear-gradient(90deg, #2C3A88 0%, #0061C8 100%);

  h2 {
    font-family: 'SC Prosper Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 66px;
    color: #fff;
  }

  p {
    font-family: 'SC Prosper Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 34px;
    color: #fff;
  }
}

.section-timeline {
  position: relative;
  z-index: -3;
  background: linear-gradient(90deg, #2C3A88 0%, #0061C8 100%);
  margin-bottom: 16px;

  .container {
    width: 90vw;
    max-width: 1360px;
    margin-right: auto;
    margin-left: auto;

    .timeline_component {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      max-width: 1120px;
      margin-right: auto;
      margin-left: auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;

      .timeline_progress {
        position: absolute;
        z-index: -2;
        width: 3px;
        height: 100%;
        background-color: #414141;

        .timeline_progress-bar {
          position: fixed;
          left: auto;
          top: 0px;
          right: auto;
          bottom: 50vh;
          z-index: -1;
          width: 3px;
          height: 50vh;
          background-color: #fff;
          background-image: -webkit-gradient(linear, left top, left bottom, from(#ff7448), color-stop(51%, #ff4848), to(#6248ff));
          background-image: linear-gradient(180deg, #ff7448, #ff4848 51%, #6248ff);
        }

      }
      .single_time{

        .timeline_item {
          position: relative;
          z-index: 2;
          display: -ms-grid;
          display: grid;
          padding-top: 80px;
          padding-bottom: 80px;
          grid-auto-columns: 1fr;
          grid-column-gap: 0px;
          grid-row-gap: 0px;
          -ms-grid-columns: 1fr 180px 1fr;
          grid-template-columns: 1fr 180px 1fr;
          -ms-grid-rows: auto;
          grid-template-rows: auto;

          .timeline_left {
            -webkit-box-pack: end;
            -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            -webkit-box-align: stretch;
            -webkit-align-items: stretch;
            -ms-flex-align: stretch;
            align-items: stretch;
            text-align: right;

            .timeline_date-text {
              position: -webkit-sticky;
              position: sticky;
              top: 50vh;
              color: #fff;
              font-size: 48px;
              line-height: 1.2;
              font-weight: 500;
              letter-spacing: -0.03em;
            }
          }

          .timeline_centre {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;

            .timeline_circle {
              position: -webkit-sticky;
              position: sticky;
              top: 50vh;
              width: 15px;
              height: 15px;
              max-height: 15px;
              max-width: 15px;
              min-height: 15px;
              min-width: 15px;
              border-radius: 100%;
              background-color: #fff;
              box-shadow: 0 0 0 8px #0a0a0a;
            }
          }

          .timeline_right {

            .margin-bottom-medium {
              margin-bottom: 32px;

              .timeline_text {
                color: #fff;
                font-size: 24px;
                line-height: 1.3;
                font-weight: 500;

                .main_paragraph{}

                .text-colour-lightgrey{
                  color: hsla(0, 0%, 100%, 0.65);
                  font-size: 16px;
                  line-height: 1.6;
                }   
              }
            }

            .margin-bottom-xlarge {
              margin-bottom: 56px;

              .inline-block {
                display: inline-block;

                .timeline_link {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-align: center;
                  -webkit-align-items: center;
                  -ms-flex-align: center;
                  align-items: center;
                  border-radius: 8px;
                  opacity: 0.6;
                  -webkit-transition: opacity 300ms ease;
                  transition: opacity 300ms ease;
                  color: #fff;
                  font-size: 14px;
                  line-height: 1.3;
                  font-weight: 700;
                  letter-spacing: 0.8px;
                  text-decoration: none;
                  text-transform: uppercase;

                  &:hover {
                    opacity: 1;
                  }
                }
              }
            }

            .timeline_image-wrapper {
              overflow: hidden;
              border-radius: 12px;
              background-image: linear-gradient(138deg, #000, transparent 28%), url('../images/Image-Background.png');
              background-position: 0px 0px, 0px 0px;
              background-size: auto, cover;

              .timeline-image {
                max-width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {

  .timeline-titles-container {
    height: 85vw;
    padding: 48px;

    h2 {
      font-size: 33px;
      line-height: 40px;
    }

    p {
      font-size: 19px;
      line-height: 28px;
    }
  }

  .section-timeline {

    .container {
      .timeline_component {
        
        .timeline_progress {
          left: 6px;
        }

        .single_time{
  
          .timeline_item {
            width: 100%;
            -ms-grid-columns: 48px 1fr;
            grid-template-columns: 48px 1fr;

            .timeline_left {
              text-align: left;
              grid-column-end: 3;
              -ms-grid-column: 2;
              grid-column-start: 2;
              -ms-grid-row-span: 1;
              grid-row-end: 2;
              -ms-grid-row: 1;
              grid-row-start: 1;

              .timeline_date-text {
                margin-bottom: 24px;
                font-size: 36px;
              }
            }

            .timeline_centre {
              -webkit-box-pack: start;
              -webkit-justify-content: flex-start;
              -ms-flex-pack: start;
              justify-content: flex-start;
              -ms-grid-column-span: 1;
              grid-column-end: 2; 
              -ms-grid-column: 1;
              grid-column-start: 1;
              -ms-grid-row-span: 2;
              grid-row-end: 3;
              -ms-grid-row: 1;
              grid-row-start: 1;
            }
            .timeline_right {
              -ms-grid-column-span: 1;
              grid-column-end: span 1;
              -ms-grid-column: span 1;
              grid-column-start: span 1;
              -ms-grid-row-span: 1;
              grid-row-end: span 1;
              -ms-grid-row: span 1;
              grid-row-start: span 1;

              .margin-bottom-medium {

                .timeline_text {
                  font-size: 20px;

                  .main_paragraph{}

                  .text-colour-lightgrey{
                    color: hsla(0, 0%, 100%, 0.65);
                    font-size: 16px;
                    line-height: 1.6;
                  }   
                }
              }

              .timeline_image-wrapper {

                .timeline-image {
                  max-width: 100%;
                  vertical-align: middle;
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    }
  }
}