.content-media-container {
  background-color: $color-white-primary;
  margin: $spacing-em-x2 auto;

  &.transparent {
    background-color: transparent;
  }

  .block-content-media-container {
    display: flex;
    width: $content-width-large;
    margin: $spacing-em-x2 auto;
    flex-flow: row;
    justify-content: space-around;

    @include mq( $until:medium ) {
      flex-flow: column;
      width: px-to-em( 345 );
    }

    @include mq( $from:medium, $until:content-large  ) {
      flex-flow: row;
      width: px-to-em( 768 );
    }

    .image-media-content-container {
      margin-right: px-to-em( 127 );

      @include mq( $until:medium ) {
        margin-right: 0;
      }

      @include mq( $from:medium, $until:content-large  ) {
        margin-right: px-to-em( 30 );
      }
      
      .square {
        width: px-to-em( 555 );
        height: px-to-em( 555 );
        border-radius: $border-radius-medium;

        @include mq( $until:content-large ) {
          width: px-to-em( 345 );
          height: px-to-em( 345 );
          border-radius: $border-radius;
        }
      }

      .landscape {
        height: px-to-em( 311 );
        width: px-to-em( 555 );
        border-radius: $border-radius-medium;

        @include mq( $until:content-large ) {
          height: px-to-em( 200 );
          width: px-to-em( 345 );
          border-radius: $border-radius;
        }
      }
    }

    &.is-style-flipped {
      flex-flow: row-reverse;

      .image-media-content-container {
        margin-right: 0;
        margin-left: px-to-em( 127 );

        @include mq( $until:medium ) {
          margin-left: 0;
        }

        @include mq( $from:medium, $until:content-large  ) {
          margin-left: px-to-em( 30 );
        }
      }
    }
  }

  .text-media-content-container {
    margin-top: px-to-em( 50 );
    width: px-to-em( 458 );

    @include mq( $until:content-large ) {
      margin-top: 0;
      width: px-to-em( 345 );
    }

    &.landscape {
      margin-top: px-to-em( 80 );

      @include mq( $until:content-large ) {
        margin-top: 0;
      }
    }

    .content-media-title {
      @include heading-one;
      color: $color-grey;
      margin-bottom: $spacing-em-x2;
      margin-top: 0;

      &.white {
        color: $color-white-primary;
      }
    }

    .content-media-paragraph {
      @include default-text;
      color: $color-grey;
      margin-bottom: $spacing-em-x2;
      margin-top: 0;

      &.white {
        color: $color-white-primary;
      }
    }
  }
}