.accordions-container {
  width: 100%;
  background: #ffffff;
  @include section-padding-top-bottom;

  .accordions-titles-container {
    width: px-to-rem( 1140 );
    margin: 0 auto;
    text-align: left;
    padding: $spacing-em-x4;

    @include mq( $until:medium ){
      width: px-to-rem( 345 );
    }

    @include mq( $from:medium, $until:content-large ){
       width: px-to-rem( 560 );
    }

    .accordions-container-title {
      @include heading-two;
      color: $color-blue-dark;
      margin-bottom: $spacing-em-x2;
    }

    .accordions-container-paragraph {
      @include default-text;
      color: $color-grey;
      margin-bottom: $spacing-em-x2;
    }
  }

  .accordion-container {
    width: px-to-rem( 750 );
    background: $color-white-primary;
    box-shadow: $box-shadow-spread $box-shadow-color-grey;
    border-radius: $spacing-em-x2;
    padding: $spacing-em-x4;
    margin: $spacing-em-x2 auto;

    @include mq( $until:medium ){
      width: px-to-rem( 345 );
      border-radius: $spacing-em;
      padding: $spacing-em-x2;
    }

    @include mq( $from:medium, $until:content-large ){
       width: px-to-rem( 595 );
       border-radius: $spacing-em-x2;
       padding: $spacing-em-x3;
    }       
  }
}