.news-hero-container {
    display: flex;
    width: $content-width-large;
    margin: $spacing-em-x2 auto;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $color-white-primary;
    flex-direction: row;

    @include mq( $until:medium ) {
      width: px-to-em( 375 );
      flex-direction: column;
    }

    @include mq( $from:medium, $until:content-large  ) {
      width: px-to-em( 720);
      flex-direction: row;
    }

    .news-hero-main-post-container {
        margin-right: 30px;

        @include mq( $until:medium ) {
          width: px-to-em( 345 );
          margin: 0 auto;
        }

        @include mq( $from:medium, $until:content-large  ) {
          width: px-to-em( 470 );
          margin: 0 auto;
        }

        .news-hero-main-post {

            .news-hero-main-thumbnail {

                img {
                    width: px-to-em( 750 );
                    height: px-to-em( 422 );
                    object-fit: cover;
                    @include border-radius;

                    @include mq( $until:medium ) {
                      width: px-to-em( 345 );
                      height: px-to-em( 194 );
                    }

                    @include mq( $from:medium, $until:content-large  ) {
                      width: px-to-em( 720 );
                      height: px-to-em( 265 );
                    }
                }
            }

            .news-hero-main-chips {

                ul {
                    display: flex;
                    justify-content: flex-start;
                    padding-left: 0;

                    .content-chip {

                        &::marker {
                            content:'';
                        }

                        &-video, &-podcast, &-article {
                            &::marker {
                                content:'';
                            }

                            a {
                                text-decoration: none;

                                &:before {
                                    margin-right: px-to-em( 3 );;
                                    margin-top: px-to-em( 3 );;
                                }
                            }

                        }
                    }
                }
            }

            .news-hero-main-content {

                .news-hero-main-title {
                    @include heading-three;
                    text-decoration: none;
                    color: $color-grey;
                    margin-top: $spacing-em-x3;

                    h3 {
                        margin: 0;
                    }
                }

                .news-hero-main-paragraph {
                    @include default-text;
                    color: $color-grey;
                    margin-top: $spacing-em-x3;
                }

            }
        }
    }

    .news-hero-latest-post-container {
        width: px-to-em( 360 );

        @include mq( $until:medium ) {
          width: px-to-em( 345 );
          margin: 0 auto;
        }

        @include mq( $from:medium, $until:content-large  ) {
          width: px-to-em( 220 );
          margin: 0 auto;
        }

        .news-hero-latest-post {

            .news-hero-latest-post-thumbnail {

                img {
                    width: px-to-em( 360 );
                    height: px-to-em( 202 );
                    object-fit: cover;
                    @include border-radius;

                    @include mq( $until:medium ) {
                      width: px-to-em( 345 );
                      height: px-to-em( 194 );
                    }

                    @include mq( $from:medium, $until:content-large  ) {
                      width: px-to-em( 220 );
                      height: px-to-em( 123 );
                    }
                }
            }

            .news-hero-latest-post-chips {

                ul {
                    display: flex;
                    justify-content: flex-start;
                    padding-left: 0;

                    .content-chip {

                        &::marker {
                            content:'';
                        }

                        &-video, &-podcast, &-article {
                            &::marker {
                                content:'';
                            }

                            a {
                                text-decoration: none;

                                &:before {
                                    margin-right: px-to-em( 3 );
                                    margin-top: px-to-em( 3 );
                                }
                            }

                        }
                    }
                }
            }

            .news-hero-latest-posts-content {

                .news-hero-latest-post-title {
                    @include heading-three;
                    margin-top: $spacing-em-x2;
                    text-decoration: none;
                    color: $color-grey;
                }

            }
        }
    }
}