/**
 * Default Typography used throughout the theme.
 *
 * @package Manuel\Theme.
*/

/*
 * Font weights are set using font families rather than actual weights.
*/

$font-family-mc-bold: "SC Prosper Sans Bold", "Helvetica", "Arial", "Lucida Grande", sans-serif;
$font-family-mc-medium: "SC Prosper Sans Medium", "Helvetica", "Arial", "Lucida Grande", sans-serif;
$font-family-mc-regular: "SC Prosper Sans Regular", "Helvetica", "Arial", "Lucida Grande", sans-serif;
$font-family-mc-light: "SC Prosper Sans Light", "Helvetica", "Arial", "Lucida Grande", sans-serif;

/*
 * Font Sizes: Large Viewport (≥ 1024px)
 * Variables are defined $font-size-mc-{viewport-size}-{text-type}-{text-size}
*/

$font-size-mc-lg-display-big: 86px;
$font-size-mc-lg-display: 69px;

$font-size-mc-lg-base: 18px;

$font-size-mc-lg-body-lg: 23px;
$font-size-mc-lg-body-sm: 15px;
$font-size-mc-lg-body-xs: 12px;

$font-size-mc-lg-h1: 55px;
$font-size-mc-lg-h2: 44px;
$font-size-mc-lg-h3: 35px;
$font-size-mc-lg-h4: 28px;

$font-size-mc-breadcrumb: 10px;

/*
 * Font Sizes: XS Viewport (≥ 320px)
 * Variables are defined $font-size-{viewport-size}-{text-type}-{text-size}
 */
$font-size-mc-xs-display-big: 48px;
$font-size-mc-xs-display: 44px;

$font-size-mc-xs-base: 16px;

$font-size-mc-xs-body-lg: 19px;
$font-size-mc-xs-body-sm: 13px;
$font-size-mc-xs-body-xs: 11px;

$font-size-mc-xs-h1: 40px;
$font-size-mc-xs-h2: 33px;
$font-size-mc-xs-h3: 28px;
$font-size-mc-xs-h4: 23px;

/*
 * Line heights
 * These are consistent across all breakpoints
 */
$line-height-display-big: 1.2;
$line-height-display: 1.2;

$line-height-mc-h1: 1.2;
$line-height-mc-h2: 1.2;
$line-height-mc-h3: 1.3;
$line-height-mc-h4: 1.3;
$line-height-mc-h5: 1.3;

$line-height-mc-body-lg: 1.5;
$line-height-mc-body: 1.5;
$line-height-mc-body-sm: 1.5;
$line-height-mc-body-xs: 1.5;
