.content-callout-container {
  background: $color-blue-lightest;
  width: $content-width-large;
  margin: $spacing-em-x2 auto;
  text-align: center;
  @include border-radius;

  @include mq( $until:medium ) {
    width: px-to-em( 345 );
    padding: $spacing-em-x4 $spacing-em-x2;
  }

  @include mq( $from:medium, $until:content-large  ) {
    width: px-to-em( 720 );
    padding: $spacing-em-x6 $spacing-em-x3;
  }

  &.is-style-green {
    background: $color-green-lightest;
  }

  &.is-style-grey {
    background: $color-grey-lightest;

    .content-callout-title-container { 

      .content-callout-main-title {
        color: $color-grey;
      }
    }
  }

  .content-callout-title-container { 
    padding: $spacing-em-x8 $spacing-em-x4;
    width: px-to-em( 1076 );
    text-align:center;

    @include mq( $until:medium ) {
      width: px-to-em( 313 );
    }

    @include mq( $from:medium, $until:content-large  ) {
      width: px-to-em( 672 );    
    }

    .content-callout-main-title {
      @include heading-two;
      margin-bottom: $spacing-em-x2;
      color: $color-blue-dark;
    }

    .content-callout-paragraph {
      @include large-text;
      color: $color-grey;
      margin-bottom: $spacing-em-x2;
    }

    .button-callout-container {
      display: flex;
      justify-content: center;
    }
  }
}